body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: black;
  color: red;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}
.container {
  margin-top: -10%;
}
.buttons {
  margin-bottom: 20px;
}
button {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}
button.active, button:hover {
  background-color: red;
}
.amount {
  font-size: 60px;
  margin-top: 0;
}
.label {
  font-size: 20px;
}